.bill-page {
  padding: 20px;
}
.bill-container {
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto; /* Center the container */
  border:2px solid #ccc;
}

.bill-items {
  margin-top: 20px;
}

.bill-items h2 {
  font-size: 1.5em;
  color:white;
}
.h2{
  color:white;
}

.bill-items ul {
  list-style-type: none;
  padding: 0;
}

.bill-items li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bill-items img {
   /* Adjust image size as needed */
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.bill-items button {
  margin-left: auto;
}

.bill-items p {
  font-size: 1.2em;
  margin-top: 20px;
  color: white;
}


