/* Add styles for the cart icon */
.cart-icon-container {
  position: fixed;
  top: 110px;
  right: 20px;
  z-index: 999; /* Ensure the cart icon is on top of other elements */
  background: orange;
}

.bodyhome {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ensure the background covers the entire viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/src/img/home1.jpeg');
background-size: cover;
}


.menu{
  text-align: center;
}
.cart-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Style the cart count */
.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff6600;
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 14px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items starting from the left */
 
  
}

.product-item {
  width: 250px; /* Adjusted width for 4 items in a row */
  height: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 15px; /* Changed margin to give equal spacing */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #ff6600;
}

.product-image {
  width: 250px;
  height: 350px;
  border-radius: 15px;
  margin:auto;
  border: 2px solid orange;
  
}

.product-detail {
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #ff6600;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  padding-top:5px;
}

.removecart
{
  background-color: #ff4500;
  
}
.removecart:hover{
  background-color: #ff6600;
}
